<div class="container">
  <div class="d-flex card-container justify-content-start">
    <div class="card  shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h2 class="card-number">600$</h2>
        <h2 class="card-text">مجموع المشتريات</h2>
      </div>
    </div>
    <div class="card  shadow p-3 mb-5 bg-white rounded">
      <div class="card-body">
        <h2 class="card-number">300$</h2>
        <h2 class="card-text">مجموع التحويلات</h2>
      </div>
    </div>

  </div>

  <!--Start Add New Package-->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">إضافة باقة جديدة</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="name">عدد المفسرين</label>
          <input formControlName="NumberOfInterpreters" type="" name="NumberOfInterpreters" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="username">السعر</label>
          <input formControlName="Price" type="text" name="Price" class="form-control" required>
        </div>
        <!-- <div class="form-group">
          <label for="email">البريد الإلكتروني</label>
          <input [(ngModel)]="service.employee.email" type="email" name="email" class="form-control">
        </div> -->
        <!-- <div class="form-group">
          <label for="coniformPassword">تأكيد كلمة المرور</label>
          <input [(ngModel)]="employeeService.employee.coniformPassword" type="password" name="coniformPassword" class="form-control">
        </div> -->
        <div class="modal-footer">
          <button class="btn btn-warning" type="submit" [disabled]="!form.valid" (click)="addNewPurchase()"> حفظ</button>
        </div>
        <div class="col-md-12">
          <p *ngIf="isCreated" class="alert alert-success">تمت الإضافة بنجاح</p>
        </div>
      </form>

    </div>
  </ng-template>
  <!--End Add New Package-->


  <div class=".table">
    <table class="table table-bordered shadow p-3 mb-5 bg-white rounded">
      <thead>
        <tr>
          <th>رقم الباقة</th>
          <th>عدد المفسرين</th>
          <th>سعر الباقة</th>
          <!-- <th>الأحلام قيد التفسير</th> -->
          <!-- <th>عدد المشتريات</th> -->
          <th colspan="2" style="text-align: center;">الإعدادات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of service.purchases| paginate: { itemsPerPage: 10, currentPage: p }; index as i">
          <td>{{ item?.id }}</td>
          <td>{{item?.NumberOfInterpreters}}</td>
          <td>{{item?.Price}}</td>
          <!-- <td>{{item.inProgressDreamsNumber}}</td> -->
          <!-- <td>{{item.purchasesNumber}}</td> -->
          <td><mat-icon style="color: #63a104" (click)="open(updateModal)">edit</mat-icon></td>
          <td><mat-icon style="color: red;">delete</mat-icon></td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls
      previousLabel="السابق"
      nextLabel="التالي"  (pageChange)="p = $event" class="col-md-10"></pagination-controls>
    </div>
</div>
<!-- <table class="table table-bordered shadow p-3 mb-5 bg-white rounded">
  <thead>
  <th>test</th>
  <th>test2</th>
</thead>
<tbody>
  <tr *ngFor="let item of purchases">
  <td>{{ item.id }}</td>
  <td>{{ item.Price }}</td>
</tr>
</tbody>
</table> -->

<!--Start Update Package-->
<ng-template #updateModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> تعديل الباقة</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <div class="form-group">
        <label for="name">عدد المفسرين</label>
        <input formControlName="NumberOfInterpreters" type="" name="NumberOfInterpreters" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="username">السعر</label>
        <input formControlName="Price" type="text" name="Price" class="form-control" required>
      </div>
      <!-- <div class="form-group">
        <label for="email">البريد الإلكتروني</label>
        <input [(ngModel)]="service.employee.email" type="email" name="email" class="form-control">
      </div> -->
      <!-- <div class="form-group">
        <label for="coniformPassword">تأكيد كلمة المرور</label>
        <input [(ngModel)]="employeeService.employee.coniformPassword" type="password" name="coniformPassword" class="form-control">
      </div> -->
      <div class="modal-footer">
        <button class="btn btn-warning" type="submit" [disabled]="!form.valid" (click)="addNewPurchase()"> حفظ</button>
      </div>
      <div class="col-md-12">
        <p *ngIf="isCreated" class="alert alert-success">تم التعديل بنجاح</p>
      </div>
    </form>

  </div>
</ng-template>
<!--Start Update Package-->
